---
slug: /
---
<ul>
  <li><a href="/users">Users</a></li>
  <li>Events
    <ul>
      <li>Basics
        <ul>
          <li><a href="/events-basic/events">Events</a></li>
          <li><a href="/events-basic/registrations">Registrations</a></li>
        </ul>
      </li>
    </ul>
  </li>
</ul>

