---
name: create_registration
resource: modules/events-basic/registrations
resource_owner: anyone
redirect_to: events-basic/registrations
configuration:
  properties:
    event_id:
    user_id:
---
{%- comment -%}
  - This form is used to both create and update registration
  - Update resource_owner to prevent anyone from creating/updating
  - Fetch users and events to populate dropdowns
{%- endcomment -%}

{%- graphql collection = "modules/events-basic/get_users_and_events" -%}
{%- assign events = collection.events.results -%}
{%- assign users = collection.users.results -%}

{%- form -%}

  {%- assign properties = form_builder.fields.properties -%}

  {%- include "modules/helpers/forms/fieldGroup", field: properties.event_id, label: "Event", type: "select", options: events, option_value_property: "id", option_text_property: "title" -%}

  {%- include "modules/helpers/forms/fieldGroup", field: properties.user_id, label: "Users", type: "select", options: users, option_value_property: "id", option_text_property: "email" -%}

  <div>
    <input type='submit' value='Submit'>
  </div>

{%- endform -%}