---
name: create_event
resource: modules/events-basic/events
resource_owner: anyone
redirect_to: events-basic/events
configuration:
  properties:
    description:
    end:
    start:
    title:
---
{%- comment -%}
  - This form is used to both create and update event
  - Update resource_owner to prevent anyone from creating/updating an event
{%- endcomment -%}
{% form -%}
  {%- comment -%} Create variable and assign fields properties {%- endcomment -%}
  {% assign properties = form_builder.fields.properties -%}

  {%- include "modules/helpers/forms/fieldGroup", field: properties.title, label: "Title", type: "text" -%}
  {%- include "modules/helpers/forms/fieldGroup", field: properties.start, label: "Start", type: "datetime-local" -%}
  {%- include "modules/helpers/forms/fieldGroup", field: properties.end, label: "End", type: "datetime-local" -%}

  {%- comment -%}
  <div>
    <label for="form[properties_attributes][start]">Start:</label>
    <input type="datetime-local" name="form[properties_attributes][start]" value="{{ properties.start.value | date: '%Y-%m-%dT%H:%M' }}">
  </div>

  <div>
    <label for="form[properties_attributes][end]">End:</label>
    <input type="datetime-local" name="form[properties_attributes][end]" value="{{ properties.end.value | date: '%Y-%m-%dT%H:%M' }}">
  </div>
  {%- endcomment -%}

  {%- include "modules/helpers/forms/fieldGroup", field: properties.description, label: "Description", type: "textarea" -%}

  <div>
    <input type='submit' value='Submit'>
  </div>

{% endform -%}